@font-face{
            font-family: Merriweather;
            src: url("../fonts/Merriweather.ttf") ;
}
@font-face{
            font-family: Yanone;
            src: url("../fonts/Yanone.ttf") ;
}
    


/* Style for header */

header{
    display:flex;
    justify-content: center;

    
}

.header{
    background-color: #000000;
    
    width:1500px;
    height:150px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:25px;
    padding-right:25px;

}

.div-logo{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width:80px;
    height:80px;
    margin-right:15px;
}

.text-logo{font-size: 50px;
    font-family: Yanone;
    color:white;
    text-shadow: 2px 2px 3px gray;
}

.main-menu{font-family: Yanone;
    font-size: 25px;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.main-menu a{
    color:#C8C3C1;
    text-decoration: none;
    transition: 0.25s;
}

.main-menu a:hover{
    transform: scale(1.2);
}

.main-menu :nth-child(1){
    margin-right:20px;
}

.main-menu :nth-child(2){
    margin-right:20px;
}

#now{
    color:azure;
    text-decoration: underline;
}

.social-menu a img{
    width:50px;
    height:50px;

}

/* Style for content */

body{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    margin:0;
    padding:0;
}



.content{display: flex;
        justify-content: center;
        flex-direction: column;
    
        width:1500px;
        
        margin:auto;
        
}

.image{background-image: url("../images/home3.jpg");

    width:1500px;
    height: 430px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    

}

.image h2{
    color:white;
    font-weight: bold;
    font-size: 58px;
    -webkit-text-stroke: 0.3px gray;

    align-self: center;

    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}
.black{
    background-color: #000000;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 15%);
    width: 1500px;
    height:150px;
}

.relative{
    position: relative;
    top:-100px;

    display:flex;

}

.relative-text{
    position: relative;
    top:-15px;
    padding-left:60px;
}

.ind{
    font-size: 30px;
    font-weight: bold;
    font-family: Merriweather;
    margin:0;
}

.hr1{
    width:300px;
    
}

.hr2{
    color: #000000;
    width:1350px;
    margin:auto;
    height: 2px;
}

.p1{
    text-align: center;
    font-size: 45px;
    font-family: Yanone;
}

.hr3{
    color:greenyellow;
    margin: auto;
    width:150px;
    margin:0;
    background-color: greenyellow;
}

.hr4{
    color:black;
    margin:auto;
    width:450px;
    background-color: black;
}

.our-project{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0 300px;
}



.div2{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.info{
    display:flex;
    flex-direction: column;
    position: relative;
    left:-50px;
}

.info div{
    display: flex;
    flex-direction: row;
}

.div1{    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding:25px 0;
}

.info p{
    margin-right:15px;
}



body {background: #d6eaf8}

.div3{
    display:flex;
    justify-content: center;
}

.button {
    font-weight: bolder;
    font-size:18px;
    margin:auto;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid black;
    color: black;
    font-family: 'Montserrat', sans-serif; 
    transition: .4s;
}
a.button:after { content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0,0,0,0);
    transition: .4s;}

    a.button:hover:after {
        border-color: black;
        width: calc(100% - 10px);
        height: calc(100% + 10px);
      }

.button9{
    color:black;
    text-decoration: none;
    transition: 0.25s;
}

.button9 img{
    width:39px;
    height:39px;
}

.button9 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.button9 {
    
    margin:auto;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid black;
    color: black;
    font-family: 'Montserrat', sans-serif; 
    transition: .4s;
}
a.button9:after { content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0,0,0,0);
    transition: .4s;}

    a.button9:hover:after {
        border-color: black;
        width: calc(100% - 10px);
        height: calc(100% + 10px);
      }






























/*      Style for footer    */

footer{
    display:flex;
    justify-content: center;
}


.footer{
    background-color: black;
    
    width:1450px;
    height:150px;
    padding-left: 25px;
    padding-right:25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    color:#C8C3C1;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo img{
    width:80px;
    height:80px;
}

.pochta{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail img{
    width:50px;
    height:40px;
    margin-right:15px;
}

.mail p{
    margin:0;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact img{
    width:45px;
    height:45px;
    margin-right:15px;
}

